@model CipherJourney.Models.EmailVerificationModel;


@{
    ViewData["Title"] = "CipherJourney - Verification";
}

<h1 style="text-align: center">We need to verify it is you first!</h1>
<h2 style="text-align: center">An e-mail has been sent to: @Model.Email</h2>
<h2 style="text-align: center">It contains your verification code</h2>

<div style="display: flex; flex-direction: column; align-items: center; justify-content: center; margin-top: 20px;">
    <form asp-controller="Account" asp-action="VerifyCode" method="post">
        <input asp-for="Email" type="hidden" />
        <div class="form-group">
            <input asp-for="InputToken" class="form-control" type="text"
                   placeholder="Enter your code here..."
                   style="padding: 10px; width: 300px; margin-bottom: 10px;" />
            <button style="" type="submit" class="btn btn-primary">Verify</button>
        </div>
    </form>
</div>
