@model EmailVerificationModel

@{
    ViewData["Title"] = "CipherJourney - Forgot Password";
}

<h1 style="text-align: center">We need to verify you first!</h1>
<h2 style="text-align: center">Provide us with the email for the account.</h2>

<div style="display: flex; flex-direction: column; align-items: center; justify-content: center; margin-top: 20px;">
    <form asp-controller="Account" asp-action="SendVerificationCode" method="post">
        <input asp-for="Email" class="form-control" type="text"
               placeholder="Enter your email here..."
               style="padding: 10px; width: 300px; margin-bottom: 10px;" />
        <div class="form-group">
            <button style="" type="submit" class="btn btn-primary">Send Code</button>
        </div>
    </form>
</div>
