@model string

@{
    ViewData["Title"] = "CipherJourney-Verification";
}

<h1 style="display: flex; flex-direction: row; align-items: center; justify-content: center;">An Email has been sent to: @Model</h1>
<input style="display: flex; flex-direction: row; align-items: center; justify-content: center;" type="text" placeholder="Enter you code here..."/>