
@{
    ViewData["Title"] = "Verification-Success";
}

<h1>Verification is successfull!</h1>
<h3>You will be redirected shortly to the home page!</h3>

<script>
    // Use setTimeout function to delay the redirection
    setTimeout(function () {
        // Redirect to the home page
        window.location.href = "/Home";
    }, 3500);
</script>