@model Dictionary<string, bool>

@{
    ViewData["Title"] = "CipherJourney-Play";
}


<div class="container">

    <div class="row">

        <div class="col-md-7" style="border: solid 1.5px">
            <h2 class="text-center">Let’s see what the sentence of the day is...</h2>
            <div class="d-flex flex-wrap justify-content-center" id="cipheredSentence">
                
                <form id="guessForm">
                    <div id="sentenceDisplay">
                        @foreach (var word in Model)
                        {
                            if (word.Value == false)
                            {
                                <span class="word" data-word="@word">@word</span>
                            }
                            else {
                                <span class="word" style="color: forestgreen" data-word="@word">@word</span>
                            }
                        }
                    </div>

                    <input type="text" id="guessInput" placeholder="Enter your guess" />
                    <button type="submit">Submit</button>
                </form>
            </div>

            <div id="resultMessage"></div> <!-- Message area -->

        </div>

        <div class="col-md-5" style="border: solid 1.5px">
            <h2>Hints:</h2>
            <ul>
                @for (int i = 0; i <= 5; i++)
                {
                    <li>hint</li>
                }
            </ul>
        </div>

    </div>

</div>


@* 
<div class="row">
    <div class="col-md-6">
        <div class="d-flex flex-wrap justify-content-center" id="cipheredSentence">
            @for (int i = 0; i <= 5; i++)
            {
                <div class="p-2 m-1 border rounded word-box">
                    sample
                </div>
            }
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <form asp-action="SubmitGuess" method="post">
                <div class="">
                    <input type="text" class="form-control " id="guessInput" name="Guess" placeholder="Guess... (you can guess individual words)" />
                    <button type="submit" class="btn btn-primary mt-2">submit</button>
                </div>
            </form>
        </div>
    </div>

    <div>
        <div class="col-md-5" style="border-style: solid; border-width: 1.5px">
            <div id="hintsSection">
                <h4>Hints:</h4>
                <ul>
                    @for (int i = 0; i <= 5; i++)
                    {
                        <li>hint</li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div> *@