@{
    ViewData["Title"] = "CipherJourney";
}

<div style="text-align: center; margin-top: 50px;">
    <h1>Contact Us</h1>
    <p>Feel free to reach out to us via the information below.</p>

    <div style="margin-top: 30px;">

        <h3>Email</h3>
        <p><a href="mailto:support@cipherjourney.com">cipherjourneyhelp@gmail.com</a></p>

        <h3>Phone</h3>
        <p><a href="tel:+123456789">+359 896 096 777</a></p>

        <h3>Follow Us</h3>
        <div style="margin-top: 20px; justify-content: center">
            <a href="https://instagram.com/" target="_blank" style="margin-right: 15px;">
                <img src="https://upload.wikimedia.org/wikipedia/commons/a/a5/Instagram_icon.png" alt="Instagram" style="width: 30px; height: 30px;">
            </a>
        </div>
    </div>
</div>
