@{
    ViewData["Title"] = "CipherJourney";
}

<div class="text-center">
    <h1 class="display-4">Welcome to CipherJourney!</h1>
    <h3>Your ultimate destination for daily cryptographic challenges!</h3>
</div>


<h2>What We Offer</h2>

<ul>
    <li><strong>Daily Challenges:</strong> Put your cryptographic skills to the test with our daily challenges. Each day, we present you with a new cipher to decipher. Can you crack the code?</li>
    <li><strong>Leaderboards:</strong> Compete against other CipherJourney users and climb the leaderboards by solving challenges and earning points. Can you make it to the top?</li>
</ul>

<p>Embark on your CipherJourney today and unlock the secrets of cryptography!</p>
