@{
    ViewData["Title"] = "About";
}

<h1>About CipherJourney</h1>

<p>Welcome to CipherJourney, your ultimate destination for daily and weekly cryptographic challenges!</p>

<h2>What We Offer</h2>

<ul>
    <li><strong>Daily Challenges:</strong> Put your cryptographic skills to the test with our daily challenges. Each day, we present you with a new cipher or puzzle to decipher. Can you crack the code?</li>
    <li><strong>Weekly Challenges:</strong> Take on our weekly challenges for a deeper dive into the world of cryptography. These longer and more complex puzzles will push your problem-solving abilities to the limit.</li>
    <li><strong>Leaderboards:</strong> Compete against other CipherJourney users and climb the leaderboards by solving challenges and earning points. Can you make it to the top?</li>
</ul>

<p>Embark on your CipherJourney today and unlock the secrets of cryptography!</p>
