html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/* Align navbar items to the right */
.navbar-nav {
    margin-left: auto; /* Push navbar items to the right */
}

/* Adjust margin between navbar items */
.navbar-nav .nav-item {
    margin-left: 10px; /* Add space between navbar items */
}
